<header class="header flex">
    <div id="chort" class="list-menu al-items-c">
        <a href="/" style="cursor: pointer; text-decoration: none">
            {% if not isAnon %}
            <div class="flex">
                <img src="/static/images/logo.png" alt="" style = "width: 48px; height: 57px; filter: var(--check);">
                <span class="text-default logo-text highlight">TrueLink</span>
            </div>
            {% else %}
            <div class="flex spa_l">
                <img src="/static/images/logo.png" alt="" style = "width: 48px; height: 57px; filter: var(--check);">
                <span class="text-default logo-text highlight">TrueLink</span>
            </div>
            {% endif %}
        </a>
    </div>
    <div class="group-header flex">
        <div id="wrap">
            <form action="/search" autocomplete="off">
                <input id="search" required name="search" type="text" placeholder="Поиск..."><input id="search_submit" value="Rechercher" type="submit">
            </form>
        </div>
        {% if user.is_authenticated %}
        <div class="user flex">
            <div class="userIcon popup img-small" style="background-image: url({{user.profile.pfp_link}})" onclick="myFunction()">
                <ul class="popuptext text-default radius" id="myPopup">
                    <li><a href="/id{{user.id}}" class="text text-white text-default highlight">{{user.first_name}} {{user.last_name}}</a></li>
                    <li><a href="/logout/" class="text text-white text-default">logout</a></li>
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
</header>