<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/static/css/important_style.css">
    <link rel="icon" href="/static/images/logo.ico">
    <link rel="stylesheet" href="/static/css/menu.css">
    <link rel="stylesheet" href="/static/css/burger.css">
    <link rel="stylesheet" href="/static/css/adaptive.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">