{% include 'static_templates/head_block_opened.html' %}
{# Place for extra links #}
<link rel="stylesheet" href="/static/css/reset_pass.css">
{# Место для дополнительных link (подключение css, js) #}
{% include 'static_templates/head_block_closed.html' %}

{% include 'static_templates/header.html' %}

<main>
    <div class="main-container-block flex just-cent">
        <div class="left-content">

        </div>
        <section class="main-content-section-reset flex flex-dir-c al-items-c text-center">
            <div id="sc-password">
                <h1 class = "text-default text-center">Reset Password</h1>
                <div class="sc-container">
                    <input style="color: black" class = "text-default" type="email" placeholder="Email" />
                    <input style="color: black" class = "text-default text-in" type="text" placeholder="Verification code">
                    <input class = "text-default button-string button-cursor" type="button" value="Send verification code">
                    <input class = "text-default button-cursor off-outline" type="submit" value="Get New Password" />
                </div>
            </div>
        </section>
        <div class="right-content">

        </div>
    </div>
</main>

{% include 'static_templates/footer.html' %}