.music-container {
  background-color: #2B2E34;
  display: flex;
  padding: 10px 30px;
  position: relative;
  margin: 10px 0 0 0;
  z-index: 10;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.img-container {
  position: relative;
  width: 55px;
}

.img-container::after {
  content: '';
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 55px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-left: 10px;
}

.action-btn {
  background-color: transparent;
  border: 0;
  color: #BCBCBE;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  transition: .3s;
}
.action-btn:hover{
    color: #3376F6;
}
#play{
    transition: .3s;
}

#play:hover{
    color: #3376F6;
}
.action-btn.action-btn-big {
  color: #cdc2d0;
  font-size: 30px;
}

.action-btn:focus {
  outline: 0;
}

.music-info {
  width: 330px;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 1;
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #fe8daa;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
