{% include 'static_templates/head_block_opened.html' %}
{# Place for extra links #}
<link rel="stylesheet" href="/static/css/chats_style.css">
<link rel="stylesheet" href="/static/css/friends.css">
<link rel="stylesheet" href="/static/css/error.css">
{# Место для дополнительных link (подключение css, js) #}
{% include 'static_templates/head_block_closed.html' %}

{% include 'static_templates/header.html' %}

<main>
    <div class="main-container-block flex just-cent">
        <div class="left-content">
            {% include 'static_templates/menu.html' %}
        </div>
        <section class="main-content-section flex flex-dir-c al-items-c text-center">
            <div class="main-group-content-friends">
                <div class="invite-block flex flex-dir-c pos-abs al-items-c">
                    <div class="group-img img-small" style="background-image: url({{server.link_to_img}})"></div>
                    <span class = "text-default"> Приглашение на сервер</span>
                    <span class = "group-txt text-default"> {{server.name}}</span>
                    {% if server.closed %}
                    <a href="/servers/{{server.id}}/handle_invite/" style="margin-top: 160px;" class = "text-default"><div style="margin-top: 0" class="group-btn flex just-cent al-items-c"><span class = "text-default">Отправить запрос</span></div></a>
                    {% else %}
                    <a href="/servers/{{server.id}}/handle_invite/" style="margin-top: 160px;" class = "text-default"><div style="margin-top: 0" class="group-btn flex just-cent al-items-c"><span class = "text-default">Присоединиться</span></div></a>
                    {% endif %}
                </div>
            </div>
        </section>
        <div class="right-content">
            <aside class="flex flex-dir-c al-items-c text-center">
            </aside>
        </div>
    </div>
</main>

{% include 'static_templates/footer.html' %}
