{% include 'static_templates/head_block_opened.html' %}
{# Place for extra links #}
<link rel="stylesheet" href="/static/css/groups.css">
<link rel="stylesheet" href="/static/css/chats_style.css">
<link rel="stylesheet" href="/static/css/friends.css">
{# Место для дополнительных link (подключение css, js) #}
{% include 'static_templates/head_block_closed.html' %}

{% include 'static_templates/header.html' %}
<main>
	<div class="main-container-block flex just-cent">
        <div class="left-content">
            {% include 'static_templates/menu.html' %}
        </div>
		<section class="main-content-section flex flex-dir-c al-items-c text-center">
            <div class="main-group-content-friends">
                <div class="first-friend-info">
                    <span>
                        <span class = "text-default highlight">Группы</span>
                        <span class = "text-info-con text-default">{% if user_on_page.profile.groups_visible or user == user_on_page %} {{groups|length}} {% else %} ? {% endif %}</span>
                    </span>
                    {% if user_on_page == user %}
                    <div class="btn-add-new-server radius"><a href="/create_new_group/" class = "text-default">Создать группу</a></div>
                    {% endif %}
                </div>
                <div class="search text-default radius">
                    <div class="search-icon">
                        <img src="/static/images/icons/search.svg">
                    </div>
                    <form action="/groups/">
                        <input class="search-field text-default" name="search" type="search" placeholder="Поиск...">
                    </form>
                </div>
                <div class="music-container">
                    {% if user_on_page.profile.groups_visible or user == user_on_page %}
                    {% for gr in groups %}
                    <div class="friend radius">
						<div class="friend-image">
							<a href="/servers/{{gr.id}}">
								<img src="{{gr.link_to_img}}" class = "demoAva">
							</a>
						</div>
						<div class="friend-inter-group flex flex-dir-c">
                            <span class="friend-name">
                                <a class = "text-default link-friend" href="/groups/{{gr.id}}">{{gr.name}}</a>
                            </span>
                            <span class="friend-action text-default">
                                <span>{{gr.members|wordcount}}</span>
                                <span>участников</span>
                            </span>
                        </div>
					</div>
                    {% endfor %}
                    {% else %}
                    <div class = "flex just-cent al-items-c">
                        <p class="text-default"> Группы скрыты </p>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
		<div class="right-content">
            <aside class="flex flex-dir-c al-items-c text-center">

            </aside>
        </div>
        {% include 'static_templates/btn-up.html' %}
	</div>
</main>
{% include 'static_templates/footer.html' %}